.git/*

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage
.grunt

# Compiled binary addons
build/Release

.idea

# tmp folder
/tmp

# config files
s3_config.json
config.dev.json
config.prod.json
