<div style="background-image:url('/images/add-background.jpg');width:1500px;height:900px;margin-top:-100px;position:fixed;z-index:-1"></div>
<div class="container" ng-if="profile.curator === true"
        style="width:700px;margin-left:auto;margin-right:auto;margin-top:5%;margin-bottom:5%;padding:30px;background-color:white;z-index:1001;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="pull-left"
         style="font-size:20px;"><b>Add Activity</b></p>
      <p class="pull-right"
         style="font-size:14px;">{{profile.name}}</p>
    </div>
    <div class="panel-body">

      <form class="form"
            method="post"
            ng-submit="addActivity(image)"
            name="addForm"
            ng-controller="AddCtrl"
            enctype="multipart/form-data">
        <div class="help-block text-danger"
             ng-messages="">
        </div>
        <input class="form-control"
               type="text"
               name="title"
               ng-model="title"
               placeholder="Activity Title"
               style="font-size:14px;padding:10px;"
               required
               autofocus>
        <br />

        <input type="file"
               ng-file-select="onFileSelect($files)"
               style="margin-top:20px;font-size:14px;padding:10px;"
               ng-if="!activity.poster"
               required />
          <br />
          <img ng-if="!activity.poster" ng-src="/images/{{activity.title}}.jpg" alt="{{activity.title}}" />
          <img ng-if="activity.poster" ng-src="/images/{{activity.poster}}" alt="{{activity.title}}"/>

        <textarea class="form-control"
                  type="text"
                  name="description"
                  ng-model="description"
                  placeholder="Curator's Description"
                  style="margin-top:20px;font-size:14px;padding:10px;">
        </textarea><br />
        
        <fieldset style="margin-top: 10px;">

          <legend style="font-size:18px;">Categories</legend>
          <ul class="genres" style="margin-top:10px;margin-bottom:10px;">
            <li class="text-center"
                ng-repeat="genre in genres"
                style="display:inline;background-color:rgba(0,0,0,0.15);padding:2px;padding-left:6px;padding-right:4px;margin-right:10px;border-radius:5px;cursor:pointer;font-size:13px;">
              <span ng-click="addCategory(genre)">{{genre}}</span>
            </li>
          </ul>

          <legend style="font-size:18px;">Moods</legend>
            <select ng-model="moods">
                <option value="Active">Active</option>
                <option value="Posh">Posh</option>
                <option value="Calm">Calm</option>
                <option value="Adventure">Adventure</option>
                <option value="Fun">Fun</option>
                <option value="Dark">Dark</option>
            </select>

          <legend style="font-size:18px;">Time of the day</legend>
            <select ng-model="times">
                <option value="Morning">Morning</option>
                <option value="Afternoon">Afternoon</option>
                <option value="Evening">Evening</option>
                <option value="Afterdark">Afterdark</option>
            </select>

          <span ng-if="categories[0]"
                style="font-size:18px;">Selected Categories</span>
          <ul class="genres" style="margin-top:10px;margin-bottom:10px;">
            <li ng-repeat="selectedCategory in categories"
                style="display:inline;background-color:rgba(0,0,0,0.2);padding:2px;padding-left:6px;padding-right:4px;margin-right:5px;border-radius:5px;cursor:pointer;font-size:13px;">
              <span ng-click="removeCategory(selectedCategory)">
                {{selectedCategory}}
              </span>
            </li>
          </ul>
        </fieldset>
        
        <fieldset style="margin-top:20px;margin-bottom:20px;">
          <span style="font-size:18px;">Start Date</span>
          <input class="form-control"
                 type="date" name="dateOfActivity"
                 ng-model="dateOfActivity"
                 style="width:300px;font-size:14px;">
            <br /><br />
          <span style="font-size:18px;">End Date</span>
          <input class="form-control"
                 type="date"
                 name="endDateOfActivity"
                 ng-model="endDateOfActivity"
                 style="width:300px;font-size:14px;">
          <br />
        </fieldset>
        
        <span style="font-size:18px;">Time of Activity</span>
        <input class="form-control"
               type="time"
               name="timeOfActivity"
               ng-model="timeOfActivity"
               style="width:300px;font-size:14px;"><br />
        <br />
        
        <fieldset>
          <legend style="font-size:18px;">Location Details</legend>
          <input class="form-control"
                 type="text"
                 name="location"
                 ng-model="location"
                 placeholder="Location"
                 style="font-size:14px;margin-top:5px;"
                 required>
          <br />
          <input class="form-control"
                 type="text"
                 name="address"
                 ng-model="address"
                 placeholder="Address"
                 style="font-size:14px;margin-top:5px;">
            <br />
          <input class="form-control"
                 type="text"
                 name="neighborhood"
                 ng-model="neighborhood"
                 placeholder="Neighborhood"
                 style="font-size:14px;margin-top:5px;"
                 required>
                 <br />
          
          <select style="width:300px;font-size:14px;margin-top:5px;"
                  name="city"
                  ng-model="city">
            <option value="Bangalore">Bangalore</option>
            <option value="Delhi">Delhi</option>
            <option value="Mumbai">Mumbai</option>
          </select>
          <select style="width:300px;font-size:14px;margin-top:5px;"
                  name="country"
                  ng-model="country">
            <option value="India">India</option>
          </select>
          <br />
          <br />
          
          <input class="form-control"
                 type="text"
                 name="phone"
                 maxlength="13"
                 ng-model="phone"
                 placeholder="Phone number"
                 style="width:300px;font-size:14px;margin-top:5px;">
            <br />
          <input class="form-control"
                 type="text"
                 name="locationWebsite"
                 ng-model="locationWebsite"
                 placeholder="Website"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="mapLat"
                 ng-model="mapLat"
                 placeholder="Map Latitude"
                 style="width:300px;font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
               type="text"
               name="mapLon"
               ng-model="mapLon"
               placeholder="Map Longitude"
               style="width:300px;font-size:14px;margin-top:5px;">
          <br />

        </fieldset>
        <br />
        
        <fieldset>
          <legend style="font-size:18px;">Source Details</legend>
          <input class="form-control"
                 type="text"
                 name="sourceName"
                 ng-model="sourceName"
                 placeholder="Source"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="sourceWebsite"
                 ng-model="sourceWebsite"
                 placeholder="Link to the source"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <textarea class="form-control"
                    type="text"
                    name="sourceDescription"
                    ng-model="sourceDescription"
                    placeholder="Description from source"
                    style="font-size:14px;margin-top:5px;">

                    </textarea>
          <br />
        </fieldset>
          <br />
        
        <input class="form-control"
               type="text"
               name="goodies"
               ng-model="goodies"
               placeholder="Goodies"
               style="font-size:14px;margin-top:5px;">
        <br />
        <input class="form-control"
               type="text"
               name="moreInfo"
               ng-model="moreInfo"
               placeholder="More Info"
               style="font-size:14px;margin-top:5px;">
        <br />
        <input class="form-control"
               type="text"
               name="moreInfoLink"
               ng-model="moreInfoLink"
               placeholder="More Info Link"
               style="font-size:14px;margin-top:5px;">
        <br />
        <br />
        
        <fieldset>
          <legend style="font-size:18px;">HQ Image</legend>
          <input class="form-control"
                 type="text"
                 name="poster"
                 ng-model="poster"
                 placeholder="Image name"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="photoCredit"
                 ng-model="photoCredit"
                 placeholder="Photo Credits"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="photoCreditLink"
                 ng-model="photoCreditLink"
                 placeholder="Photo Credit Link"
                 style="font-size:14px;margin-top:5px;">
          <br />
        </fieldset>
        <br />
        
        <fieldset>
          <legend style="font-size:18px;">Artist/Chef corner</legend>
          <input class="form-control"
                 type="text"
                 name="corner"
                 ng-model="corner"
                 placeholder="Artist / Chef corner"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="cornerPic"
                 ng-model="cornerPic"
                 placeholder="Corner pic name"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="cornerText"
                 ng-model="cornerText"
                 placeholder="Corner text"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
        </fieldset>
        <br />

        <fieldset>
          <legend style="font-size:18px;">In Media</legend>
          <input class="form-control"
                 type="text"
                 name="mediaTitle1"
                 ng-model="mediaTitle1"
                 placeholder="Media Title 1"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaText1"
                 ng-model="mediaText1"
                 placeholder="Media Text 1"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaLink1"
                 ng-model="mediaLink1"
                 placeholder="Media Link 1"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaTitle2"
                 ng-model="mediaTitle2"
                 placeholder="Media Title 2"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaText2"
                 ng-model="mediaText2"
                 placeholder="Media Text 2"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaLink2"
                 ng-model="mediaLink2"
                 placeholder="Media Link 2"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaTitle3"
                 ng-model="mediaTitle3"
                 placeholder="Media Title 3"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaText3"
                 ng-model="mediaText3"
                 placeholder="Media Text 3"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaLink3"
                 ng-model="mediaLink3"
                 placeholder="Media Link 3"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaTitle4"
                 ng-model="mediaTitle4"
                 placeholder="Media Title 4"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaText4"
                 ng-model="mediaText4"
                 placeholder="Media Text 4"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
          <input class="form-control"
                 type="text"
                 name="mediaLink4"
                 ng-model="mediaLink4"
                 placeholder="Media Link 4"
                 style="font-size:14px;margin-top:5px;"/>
          <br />
        </fieldset>
          <br />
        
        <fieldset>
          <legend style="font-size:18px;">Payment Details</legend>
          <select style="width:300px;font-size:14px;margin-top:5px;"
                  name="currency"
                  ng-model="currency">
            <option value="Rs">INR</option>
            <option value="$">$</option>
          </select>
          <br />
          <br />
          <input class="form-control"
                 type="text"
                 name="price"
                 ng-model="price"
                 placeholder="Price"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="payment"
                 ng-model="payment"
                 placeholder="Link to payment gateway"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="bookRide"
                 ng-model="bookRide"
                 placeholder="Link to ride booking"
                 style="font-size:14px;margin-top:5px;">
          <br />
        </fieldset>
        <br />
        
        <fieldset>
          <legend style="font-size:18px;">Social Network Links</legend>
          <input class="form-control"
                 type="text"
                 name="facebookLink"
                 ng-model="facebookLink"
                 placeholder="Facebook Link"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="zomatoLink"
                 ng-model="zomatoLink"
                 placeholder="Zomato Link"
                 style="font-size:14px;margin-top:5px;">
          <br />
          <input class="form-control"
                 type="text"
                 name="twitterLink"
                 ng-model="twitterLink"
                 placeholder="Twitter Link"
                 style="font-size:14px;margin-top:5px;">
          <br />
        </fieldset>
        
        <input type="text"
               name="addedBy"
               ng-hide="true"
               ng-model="addedBy"
               value="currentUser.email">
        
        <button type="submit"
                style="font-size:16px;padding:5px;margin-top:25px;;width:100%;cursor:pointer;background-color:#3A6073;border-radius:5px;">
            Add
        </button>
      </form>

    </div>
  </div>
</div>

<!---------------------------- Footer ---------------------------->

<footer id="footer-1080" style="margin-bottom:-20px;z-index: 1001;clear:both;">
    <div class="container_27 clearfix">
        <div class="grid_6 pull-right">
            <div class="footer-logo">
                <h3 style="margin-top: 20px;color:#999;font-family:Roboto">
                    <a href="/" style="color:#999;font-family:Roboto">
                        Joyage
                    </a>
                </h3>
            </div>
        </div>
    </div>
</footer>