<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
            <div class="pull-right">
                <div class="user-menu js-user-menu">
                </div>
            </div>
        </div>

    </div>
</header>

<div class="container" ng-if="profile.curator === true"
     style="width:1112px;margin-left:auto;margin-right:auto;margin-top:5%;margin-bottom:5%;padding:30px;background-color:white;">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:20px;">
            Admin Console
            <p class="pull-right" style="font-size:16px;">{{profile.name}}</p>
        </div>

        <div class="panel-body" style="margin-top:20px;">
            <a href="/add/{{profile._id}}">Add activity</a>
        </div>

        <div style="margin-top:40px" class="col-xs-4 col-md-4" ng-repeat="act in activities | orderBy:'timeAdded':true">
            <div class="single-activity-box">
                <div class="activity-image">
                    <a href="/activities/{{act._id}}">
                        <img style="height:222px;width:334px;" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{act.poster}}" alt="{{act.title}}">
                    </a>
                </div>
                <div class="activity-info" style="height:120px;background-color: #606c88;">
                    <a href="/activities/{{act._id}}" style="color:white;">
                        {{act.title}}
                        <p class="text-muted">{{act.location}} ({{act.neighborhood}})</p>
                    </a>
                    <button class='btn btn-danger btn-block' ng-click='deleteActivity(act)'>Delete Activity</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <ul>
            <li ng-repeat="business in listOfBusinesses">
                <div class="panel-body">
                    <div>
                        {{business.business}}
                        {{business.city}}
                        Activities: {{business.noOfAct}}
                        Bookmarks: {{business.noOfBooks}}
                        Done(s): {{business.noOfDones}}
                        Selfies: {{business.noOfSelfies}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>