<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
            <div class="pull-right">
                <div class="user-menu js-user-menu">
                </div>
            </div>
        </div>

    </div>
</header>

<div class="container" style="margin-top:100px;width:1100px;margin-left:auto;margin-right:auto;padding:5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size:28px;">
                {{business.business}}
                <div class="pull-right" style="font-size:18px;">
                    {{business.city}}
                </div>
            </span>
        </div>
        <div class="panel-body" style="font-size:18px;margin-top:20px;height:40px;padding:2%;">
            <div class="col-lg-3 col-md-3 col-xs-3">
                Activities: {{business.noOfAct}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Bookmarks: {{business.noOfBooks}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Done(s): {{business.noOfDones}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Selfies: {{business.noOfSelfies}}
            </div>

            <div style="margin-top:80px;">
                <ul>
                    <li ng-repeat="act in activities">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" style="margin-left:40px;">
                            <a ng-href="/activities/{{act._id}}">
                                <h3 class="heading-title" style="word-spacing:4px;">{{act.title}}</h3>
                            </a>
                            <p>{{act.description}}</p>
                            <div class="clear-all"></div>

                            <p class="event-location"><span style="font-size:18px;">{{act.location}}</span><br />
                                {{act.neighborhood}}</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
                        <a ng-href="/activities/{{act._id}}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{act.poster}}" style="max-width:120%">
                            </div>
                        </a>
                        <div class="col-lg-1"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>