<!----------------------------------------------------- Navbar -------------------------------------------->

<header ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a class="head-brand" ng-href="/home" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none custom-user-menu">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span class="user-name">{{currentUser.name}}</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <a ng-href="/home">
                            <li class="selected"><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        </a>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <!--a ng-if="currentUser.invitations_sent<10" ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a-->
                        <a ng-href="" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</header>

<div class="container" style="margin-top:100px;width:1100px;margin-left:auto;margin-right:auto;padding:5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size:28px;">
                {{business.business}}
                <div class="pull-right" style="font-size:18px;">
                    {{business.city}}
                </div>
            </span>
        </div>
        <div class="panel-body" style="font-size:18px;margin-top:20px;height:40px;padding:2%;">
            <div class="col-lg-3 col-md-3 col-xs-3">
                Activities: {{business.noOfAct}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Bookmarks: {{business.noOfBooks}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Done(s): {{business.noOfDones}}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                Selfies: {{business.noOfSelfies}}
            </div>

            <div style="margin-top:80px;">
                <ul>
                    <li ng-repeat="act in activities">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" style="margin-left:40px;">
                            <a ng-href="/activities/{{act._id}}">
                                <h3 class="heading-title" style="word-spacing:4px;">{{act.title}}</h3>
                            </a>
                            <p>{{act.description}}</p>
                            <div class="clear-all"></div>

                            <p class="event-location"><span style="font-size:18px;">{{act.location}}</span><br />
                                {{act.neighborhood}}</p>
                        </div>

                        <!----------------------- Activity review ------------------------------------------>

                        <div ng-if="currentUser.god === true">
                            <div class="text-center">
                                <a href="/editActivity/{{act._id}}/{{currentUser._id}}">Edit Activity</a>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
                        <a ng-href="/activities/{{act._id}}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <img ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{act.poster}}" style="max-width:120%">
                            </div>
                        </a>
                        <div class="col-lg-1"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>