<!----------------------------------------------------- Navbar -------------------------------------------->

<header style="background-color:white;position:fixed;" ng-controller="NavbarCtrl">
    <div class="wrapper">
        <div class="col-lg-4 col-sm-4 col-xs-6 col-md-4 padd-left-none">
            <div class="head-brand" ng-click="go('/')" style="cursor:pointer">
                Joyage
            </div>
        </div>

        <div class="col-lg-8 col-sm-8 col-xs-6 col-md-8 padd-right-none">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-if="currentUser" src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span ng-if="currentUser" class="user-name">{{currentUser.name}}</span>
                    <span ng-if="!currentUser" class="user-name" ng-click="go('/login')">Login</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <li class="selected"><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <a ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a>
                        <a ng-href="javascript:void(0)" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!---------------------------------------------------- Activity Details ------------------------------------------------>

<div class="wrapper text-center">
    <div class="event-head">
        <h1>{{activity.title}}</h1>
        <ul>
            <li>
                <span class="batch" data-icon="&#xF07C;"></span> {{activity.location}}
            </li>
            <li ng-if="activity.dateOfActivity">
                <span class="batch" data-icon="&#xF05C;"></span> {{activity.dateOfActivity | date: shortDate}}
            </li>
        </ul>

        <img ng-if="!activity.poster" src="/images/{{activity.title}}.jpg">
        <img ng-if="activity.poster" ng-src="/images/{{activity.poster}}">

        <div class="event-action" ng-if="currentUser">
            <button class="open-modal modal-bookmark-it">

                    <span ng-if="!isSubscribed()">
                        <i class="batch" data-icon="&#xF049;"></i>
                        Bookmark ({{subscriptions}})
                    </span>

                    <span ng-if="isSubscribed()" ng-click="unsubscribe()">
                        <i class="batch" data-icon="&#xF049;"></i>
                        Bookmarked ({{subscriptions}})
                    </span>

            </button>
            <button class="open-modal modal-done-it">

                    <span ng-if="!isDone()">
                        <i class="batch" data-icon="&#xF164;"></i>
                        Done it ({{completions}})
                    </span>

                    <span ng-if="isDone()" ng-click="markUndone()">
                        <i class="batch" data-icon="&#xF164;"></i>
                        I've done this ({{completions}}})
                    </span>

            </button>
            <button class="open-modal modal-share">

                    <span>
                        <i class="batch" data-icon="&#xF159;"></i> Share
                    </span>

            </button>
        </div>

        <div class="" ng-show="!currentUser">
            <a class="btn btn-block btn-primary"
               href="#/login"
               style="color:white;font-weight:100;">Login</a>
        </div><!-- event action end -->

        <p>{{activity.description}}</p>

        <div onload='function changeFontSize(){if (activity.description!=="") {document.getElementById("description").style.font-size="15px"}();'>
            <a href="{{activity.sourceWebsite}}">{{activity.sourceName}}</a>
            <p>{{activity.sourceDescription}}</p>
        </div>

        <!-------------- Goodies -------------->

        <div class="panel panel-default panel-right"
             ng-if="activity.goodies"
             style="width:100%;margin-bottom:20px;margin-top:-10px;">
            <div class="panel-body">
                <div class="info-title">GOODIES</div>
                <div class="info-text">{{activity.goodies}}</div>
            </div>
        </div>

        <!--------------- Corner --------------->

        <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
            <div class="tip-block">
                <div class="bubble-holder">
                    <div class="bubble-body" ng-if="activity.corner">
                        <p>{{activity.cornerText}}</p>
                    </div>
                    <div class="bubble-bot" ng-if="activity.corner"><div class="bbl-hook"></div></div>
                </div><!-- bubble -end -->
                <div class="buble-user-img" ng-if="activity.corner">
                    <img src="/images/{{activity.cornerPic}}">
                </div>
            </div>
            <span class="open-modal modal-pro-tip" ng-if="activity.corner">{{activity.corner}}</span>
        </div>

        <!--------------- Media ---------------->

        <div ng-if="activity.media[0]">
            <h4>In Media</h4>
            <ul>
                <li ng-repeat="media in activity.media">
                    <h5>{{media.title}}</h5>
                    <a href="{{media.link}}">{{media.text}}</a>
                </li>
            </ul>
        </div>

        <!--------------- Payment -------------->

        <div class="time-block"
             ng-if="activity.price">
            <ul>
                <li><h6>PRICE</h6></li>
                <li>Rs {{activity.price}}</li>
            </ul>
        </div>

        <div class="panel panel-default panel-right"
             style="height:50px;"
             ng-if="activity.payment || activity.bookRide">
            <table class="link-table">
                <tr>
                    <td>
                        <div class="text-center link-div">
                            <a href="{{activity.payment}}"
                               ng-if="activity.payment">
                                <div class="text-center">Tickets</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center link-div">
                            <a href="{{activity.bookRide}}"
                               ng-if="activity.bookRide">
                                <div class="text-center">Ride</div>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!--------------- Tips --------------------->

        <div class="sidebar-footer">
            <p>TIPS</p>
            <a href="" class="open-modal modal-pro-tip"><span ng-if="editTips">Add a pro tip</span></a>
            <ul class="genres">
                <li ng-repeat="tip in activity.tips">
                    <img src="https://graph.facebook.com/v2.2/{{tip.tipperfbId}}/picture"
                         style="width:50px;height:50px;border-radius:50%" > {{tip.text}}
                </li>
            </ul>
        </div>

        <!-------------------------------- Selfies --------------------------------------->

        <div class="sidebar-footer">
            <p>SELFIE STAND</p>
            <input type="file"
                   ng-if="addS"
                   ng-file-select="onSelfieSelect($files)"
                   style="margin-top:20px;font-size:14px;padding:10px;width:240px;"
                   required />
            <button ng-if="addS"
                    ng-click="addSelfies()">Upload Selfie</button>
            <ul>
                <li ng-repeat="selfie in activity.selfies">
                    <img src="https://graph.facebook.com/v2.2/{{selfie.fbId}}/picture"
                            style="width:50px;height:50px;border-radius:50%" />
                    <img ng-src="/images/selfies/{{selfie.url}}"
                         style="width:50px;height:50px;" />
                </li>
            </ul>
        </div>

        <!----------------- Map -------------------->

        <div class="event-extra-info">
            <div class="wrapper">
                <div class="map-block">

                    <section id="cd-google-map">
                        <div id="google-container"></div>
                        <div id="cd-zoom-in"></div>
                        <div id="cd-zoom-out"></div>
                        <address>
                            <b>{{activity.location}}</b>
                            <br/>{{activity.address}}
                            <br/>{{activity.neighborhood}}, {{activity.city}}
                            <br/>{{activity.phone}}
                        </address>
                    </section>

                    <form action="http://maps.google.com/maps"
                          method="get"
                          target="_blank">
                        <input type="hidden"
                               name="daddr"
                               value="{{activity.location}} {{activity.address}} {{activity.neighborhood}}" />
                        <input type="submit"
                               class="btn-block"
                               value="Get directions"
                                style="cursor:pointer"/>
                    </form>

                    <div class="connect-buttons"
                         ng-if="activity.locationWebsite || activity.zomatoLink || activity.facebookLink || activity.twitterLink">
                        <ul>

                            <li class="col-lg-3 col-sm-3 col-xs-3 col-md-3 padd-both-none">
                                <a href="{{activity.locationWebsite}}"
                                   ng-if="activity.locationWebsite">
                                    Website
                                </a>
                            </li>

                            <li class="col-lg-3 col-sm-3 col-xs-3 col-md-3 padd-both-none">
                                <a href="{{activity.zomatoLink}}"
                                   ng-if="activity.zomatoLink">
                                    Zomato
                                </a>
                            </li>

                            <li class="col-lg-3 col-sm-3 col-xs-3 col-md-3 padd-both-none">
                                <a href="{{activity.facebookLink}}"
                                   ng-if="activity.facebookLink">
                                    Facebook
                                </a>
                            </li>

                            <li class="col-lg-3 col-sm-3 col-xs-3 col-md-3 padd-both-none">
                                <a href="{{activity.twitterLink}}"
                                   ng-if="activity.twitterLink">
                                    Twitter
                                </a>
                            </li>

                        </ul>
                    </div>

                </div><!-- map block end here -->
            </div>

            <!--------------- Additional Info -------------->

            <div class="panel panel-default panel-right"
                 ng-if="activity.moreInfo">
                <div class="panel-body">
                    <div class="info-title">MORE INFO</div>
                    <div class="info-text"
                         ng-if="activity.moreInfoLink">
                        <a href="{{activity.moreInfoLink}}">{{activity.moreInfo}}</a>
                    </div>
                    <div class="info-text"
                         ng-if="!activity.moreInfoLink">{{activity.moreInfo}}
                    </div>
                </div>
            </div>

            <div class="sidebar-footer">
                <p>SPOT A PROBLEM?</p>
                <a href="" class="open-modal modal-report">Report Here</a>

                <p ng-if="activity.photoCredit">PHOTO CREDITS</p>
                <a ng-if="activity.photoCredit" href="{{activity.photoCreditLink}}">{{activity.photoCredit}}</a>
            </div>

        </div>

        <!----------------------- Activity review ------------------------------------------>

        <div style="background-color:rgba(0,0,0,0.2)"
             ng-if="activity.preview === false">
            <div class="text-center">
                <button class="btn btn-primary"
                        ng-click="acceptActivity(currentUser._id)"
                        ng-if="currentUser.p2p">
                    Accept Activity
                </button>
                <a href="/editActivity/{{activity._id}}/{{currentUser._id}}">Edit</a>
                <button class="btn btn-danger"
                        ng-click="deleteActivity()">
                    Delete Activity
                </button>
            </div>
        </div>

        <!---------------- Tags (Not to be removed; for better SEO) ------------------>

        <div class="panel panel-default panel-right"
             ng-hide=true>
            <ul class="genres">
                <li ng-repeat="tag in activity.genre">{{tag}}</li>
            </ul>
        </div>

    </div><!-- event head end -->
</div>

<div class="wrapper"><!-- wrapper start -->

    <!-------------------------------------------- Suggestions ----------------------------------------------

    <div class="suggestion-block">

        <h2>You may like these</h2>

        <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4"
             ng-repeat="act in activities | orderBy:'timeAdded':true">
            <a href="/activities/{{act._id}}">
                <div class="place-cards">
                    <div class="place-img">
                        <img src="images/{{act.title}}.jpg"
                             alt="{{act.title}}">
                        <div class="event-stamp">
                            Outdoor
                        </div>
                    </div>
                    <div class="place-head">
                        <h4 class="margin-bottom-none">{{act.title}}</h4>
                        <p><i class="batch" data-icon="&#xF07D;"></i>{{act.location}}, {{act.neighborhood}}</p>
                    </div>
                    <div class="place-footer">
                        <i class="batch" data-icon="&#xf15D;"></i> {{act.subscriptions}}
								<span class="time-stamp">
									Added on {{activity.dateOfActivity | date:'shortTime'}}
								</span>
                    </div>
                </div>
            </a>
        </div>
    </div><!-- suggestion block -->

</div><!-- wrapper end -->

<!----------------------------------------------- Modals ----------------------------------------------->

        <!------------------ Bookmark modal ------------------->

<div class="modal modal-bookmark-it" ng-if="!isSubscribed()">
    <span class="modal-overlay"></span>
    <div class="modal-content modal-mini text-center">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Bookmark This Activity</h2>
        </div><!-- modal head end -->
        <div class="bookmark-it-head-img">
            <img src="images/{{activity.title}}.jpg">
            <address><b>{{activity.location}}</b><br/><i class="batch" data-icon="&#xF07B;"></i> {{activity.neighborhood}}</address>
        </div><!-- bookmark image end -->
        <div class="modal-body">
            Add to Collection:
            <select id="year">
                <option value="new">Rocking</option>
                <option value="popular">Must GO</option>
                <option value="upcoming">Recommended</option>
                <option value="bookmarked">My Favourites</option>
            </select>
            <textarea placeholder="Add some notes..."></textarea>
            <button class="button button-facebook" ng-click="fb_share()">
                Share on facebook
            </button>
        </div><!-- modal-body end -->
        <div class="modal-footer text-right">
            <button class="button button-primary" ng-click="subscribe()">Bookmark</button>
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

        <!------------------------------- Done modal ------------------------->

<div class="modal modal-done-it" ng-if="!isDone()">
    <span class="modal-overlay"></span>
    <div class="modal-content text-left modal-mini">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Activity Done</h2>
        </div><!-- modal head end -->
        <div class="bookmark-it-head-img">
            <img src="images/{{activity.title}}.jpg">
            <address><b>{{activity.location}}</b><br/><i class="batch" data-icon="&#xF07B;"></i> {{activity.neighborhood}}</address>
        </div><!-- bookmark image end -->
        <div class="modal-body">
            <div class="clearfix">
                <label style="margin-right: 28px;">Save to: </label>
                <select>
                    <option value="new">Rocking</option>
                    <option value="popular">Must GO</option>
                    <option value="upcoming">Recommended</option>
                    <option value="bookmarked">My Favourites</option>
                </select>
            </div>
            <br/>
            <div class="clearfix">
                <label>How was it? </label>
                <select>
                    <option value="new">Ok Ok</option>
                    <option value="popular">Chalta he</option>
                    <option value="upcoming">Maza Aa Gaya</option>
                    <option value="bookmarked">Aag laga di :)</option>
                </select>
            </div>
            <textarea placeholder="Add some notes..."></textarea>
            <button class="button button-facebook" ng-click="fb_share()">
                Share on facebook
            </button>
        </div><!-- modal-body end -->
        <div class="modal-footer text-right">
            <button class="button button-primary" ng-click="markDone()">Done</button>
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

        <!----------------------------- Tips modal ----------------------------->

<div class="modal modal-pro-tip">
    <span class="modal-overlay"></span>
    <div class="modal-content text-left modal-mini">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Share your thoughts</h2>
        </div><!-- modal head end -->
        <div class="bookmark-it-head-img">
            <img src="images/{{activity.title}}.jpg">
            <address><b>{{activity.location}}</b><br/><i class="batch" data-icon="&#xF07B;"></i> {{activity.neighborhood}}</address>
        </div><!-- bookmark image end -->
        <div class="modal-body">
            <textarea class="margin-top-none" name="tip" ng-model="tip" maxlength="140" placeholder="Add a pro tip..."></textarea>
            <button class="button button-facebook" ng-click="fb_share()">
                Share on facebook
            </button>
        </div><!-- modal-body end -->
        <div class="modal-footer text-right" ng-click="addTips(tip)">
            <button class="button button-primary">Submit</button>
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

        <!---------------------------- Share modal ---------------------------->

<div class="modal modal-share">
    <span class="modal-overlay"></span>
    <div class="modal-content text-center modal-mini">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Spread the Word</h2>
        </div><!-- modal head end -->
        <a class="share-link" href="">http://www.joyage.in/7Yt560I</a>
        <div class="facebook-share">
            <img src="https://www.facebookbrand.com/img/facebook.icon.png" ng-click="fb_share()">
        </div>
        <div class="twitter-share">
            <img src="https://g.twimg.com/Twitter_logo_white.png">
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

        <!-------------------------------- Report modal --------------------------->

<div class="modal modal-report">
    <span class="modal-overlay"></span>
    <div class="modal-content text-left">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Report a Problem</h2>
        </div><!-- modal head end -->
        <div class="modal-body clearfix">
            <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4">
                Error type :
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12 col-md-4">
                <select>
                    <option value="new">Venue Closed</option>
                    <option value="popular">Relocationed</option>
                    <option value="upcoming">Wrong Address</option>
                    <option value="bookmarked">Name Changed</option>
                    <option value="bookmarked">Something went wrong</option>
                </select>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4" style="padding-top: 20px;">
                Add a Note
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12 col-md-4">
                <textarea placeholder="Note about problem"></textarea>
            </div>
        </div><!-- modal-body end -->
        <div class="modal-footer text-right">
            <button class="button button-primary">Send</button>
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

        <!------------------------------ Feedback modal ---------------------------->

<div class="modal modal-feedback">
    <span class="modal-overlay"></span>
    <div class="modal-content text-left">
        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Give your Feedback</h2>
        </div><!-- modal head end -->
        <div class="modal-body clearfix">
            <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4">
                Type
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12 col-md-4">
                <select>
                    <option value="new">Suggestions</option>
                    <option value="popular">New feature</option>
                    <option value="upcoming">Improvements</option>
                </select>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4" style="padding-top: 20px;">
                Feedback
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12 col-md-4">
                <textarea placeholder="Let us know more about it"></textarea>
            </div>
        </div><!-- modal-body end -->
        <div class="modal-footer text-right">
            <button class="button button-primary">Send</button>
        </div>
    </div><!-- modal-content end -->
</div><!-- modal end -->

<!---------------------------- Footer ---------------------------->

<footer style="height:160px;clear:both;background-color:rgba(0,0,0,0.1);margin-top:30px;">
    <div class="container_27 clearfix">
        <div class="grid_4 pull-left" style="margin-left:100px;">

            <ul>
                <li>
                    JOYAGE
                </li>
                <li>
                    <a href="/about/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/jobs/">
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="/privacy/">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="/tos/">
                        Terms of Service
                    </a>
                </li>
            </ul>

        </div>
        <!--div class="grid_4">

            <ul>
                <li>
                    CONTRIBUTE
                </li>
                <li>
                    <a href="#">
                        Send Feedback
                    </a>
                </li>
                <li>
                    <a href="#">
                        Suggest an activity
                    </a>
                </li>
                <li>
                    <a href="#">
                        Own a local business?
                    </a>
                </li>
            </ul>

        </div>
        <div class="grid_4">

            <ul>
                <li>
                    KEEP IN TOUCH
                </li>
                <li>
                    <a href="/blog/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        Twitter
                    </a>
                </li>
            </ul>

        </div-->
        
        <div class="grid_6 pull-right" style="margin-right:100px;">
            <div class="footer-logo">
                <h3 style="margin-top: 20px;color:#999;font-family:Montserrat">
                    <a href="/" style="color:#999;font-family:Montserrat">
                        JOYAGE
                    </a>
                </h3>
            </div>
            <div style="font-size: 10px;margin-top: 20px;color:#999;">
                COPYRIGHT 2014
            </div>
            <div style="font-size: 10px;color:#999">
                JOYAGE INC.
            </div>
        </div>
    </div>
</footer>