<!----------------------------------------------------- Navbar -------------------------------------------->

<header ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a class="head-brand" ng-href="/home" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none custom-user-menu">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-if="currentUser" ng-src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span ng-if="currentUser" class="user-name">{{currentUser.name}}</span>
                    <span ng-if="!currentUser" class="user-name" ng-click="go('/login')">Login</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <a ng-href="/home">
                            <li><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        </a>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <a ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a>
                        <a ng-href="" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>

<!---------------------------------------------------- Activity Details ------------------------------------------------>

<section class="wrapper text-center">
    <div class="event-head">
        <h1>{{activity.title}}</h1>
        <ul>
            <li>
                <span class="batch" data-icon="&#xF07C;"></span> {{activity.location}}
            </li>
            <li ng-if="activity.dateOfActivity">
                <span class="batch" data-icon="&#xF05C;"></span> {{activity.dateOfActivity | date: shortDate}}
            </li>
            <li ng-if="activity.price && activity.payment">
                <a href="{{activity.payment}}">
                    {{activity.currency}} {{activity.price}}
                </a>
            </li>
            <li ng-if="activity.price && !activity.payment">
                <span style="font-size:24px;font-weight:400">{{activity.currency}}</span> {{activity.price}}
            </li>
        </ul>

        <img ng-if="!activity.poster" ng-src="/images/{{activity.title}}.jpg">
        <img ng-if="activity.poster" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.poster}}"><br />
        <div class="text-right" style="margin-top:-40px;width:900px;margin-left:auto;margin-right:auto;color:rgba(0,0,0,0.6);font-size:12px;">
            Image credits: <a ng-if="activity.photoCredit" href="{{activity.photoCreditLink}}">{{activity.photoCredit}}</a>
        </div>

        <div class="event-action" ng-if="currentUser">
            <button class="open-modal">

                    <span ng-if="!isSubscribed()" ng-click="subscribe()">
                        <i class="batch" data-icon="&#xF049;"></i>
                        Bookmark ({{subscriptions}})
                    </span>

                    <span ng-if="isSubscribed()" ng-click="unsubscribe()">
                        <i class="batch" data-icon="&#xF049;"></i>
                        Bookmarked ({{subscriptions}})
                    </span>

            </button>
            <button class="open-modal">

                    <span ng-if="!isDone()" ng-click="markDone()">
                        <i class="batch" data-icon="&#xF164;"></i>
                        Done ({{completions}})
                    </span>

                    <span ng-if="isDone()" ng-click="markUndone()">
                        <i class="batch" data-icon="&#xF164;"></i>
                        I've done this ({{completions}})
                    </span>

            </button>
            <button class="open-modal" style="margin-right:0px;">

                    <span ng-click="fb_share()">
                        <i class="batch" data-icon="&#xF159;"></i> Share
                    </span>

            </button>

            <p style="width:500px;text-align:justify;margin-top:30px;">{{activity.description}}</p>

            <div style="margin-bottom:60px;"
                    onload='function changeFontSize(){if (activity.description!=="") {document.getElementById("description").style.font-size="15px"}();}'>

                <p style="width:900px;text-align:justify;">
                    {{activity.sourceDescription}} <a href="{{activity.sourceWebsite}}" style="font-size:12px;">{{activity.sourceName}}</a>
                </p>
            </div>

        </div>

    </div>

</section>


<!---------------------------------------- Additional Information ----------------------------------------------------->


        <!----------------------- Media Speak ----------------------->


<section style="background-color:rgba(0,0,0,0.04);margin-top:-80px;" ng-if="activity.media!=''">

    <div class="wrapper text-center event-extras" style="padding-top:40px;padding-bottom:80px;border-bottom:1px solid #e3e3e3">

        <h4 style="padding-bottom:40px;font-family:Roboto;font-weight:300;">Media Speak</h4>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" style="margin-left:40px;min-height:350px;overflow:scroll;">

            <div style="transform:translateY(40%);">
                <ul>
                    <li ng-repeat="media in activity.media" style="text-align:justify;">
                        <h5>
                            {{media.title}}
                            <br />
                            <div style="text-align:right;"><a style="text-align:right;font-size:12px;" href="{{media.link}}">{{media.text}}</a></div>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="clear-all"></div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.mediaImage}}" style="width:600px;height:350px;">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>

    </div>

</section>


        <!-------------------------------- Venue -------------------------------->


<section>

    <div class="wrapper text-center event-extras" style="padding-top:40px;padding-bottom:80px;border-bottom:1px solid #e3e3e3">

        <div class="text-center">
            <div>
                <img ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.venueImage}}" style="width:600px;height:400px;">
                <h4 style="font-family:Roboto;font-weight:300;">About Venue</h4>

                <p style="text-align:justify;width:600px;margin-left:auto;margin-right:auto;">{{activity.venueDescription}}</p>
                <p ng-if="activity.moreInfo">
                    <p ng-if="activity.moreInfoLink && activity.moreInfo" style="text-align:justify;width:600px;margin-left:auto;margin-right:auto;">
                        <a href="{{activity.moreInfoLink}}">ALSO: {{activity.moreInfo}}</a>
                    </p>
                    <p style="text-align:justify;width:600px;margin-left:auto;margin-right:auto;" ng-if="!activity.moreInfoLink && activity.moreInfo"><span>ALSO:</span> {{activity.moreInfo}}</p>
                </p>

            </div>
        </div>

        <div ng-if="activity.corner && activity.goodies" class="text-center" style="padding-top:40px;width:500px;margin-left:auto;margin-right:auto;">

            <div ng-if="activity.corner" style="float:left;max-width:240px;padding:20px;background-color:rgba(0,0,0,0.04);text-align:justify;">
                <img style="width:240px;height:150px;" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.cornerPic}}">
                <h5 class="text-center">{{activity.corner}}</h5>
                {{activity.cornerText}}
            </div>

            <div ng-if="activity.goodies" style="float:right;max-width:240px;padding:20px;margin:0px;background-color:rgba(0,0,0,0.04);text-align:justify;">
                <h5 class="text-center" style="margin-top:0px;">Goodies</h5>
                {{activity.goodies}}
                <img style="width:240px;height:150px;padding-top:20px;" ng-src="/img/index/5.jpg">
            </div>

        </div>

        <div ng-if="!activity.goodies" class="text-center" style="padding-top:40px;width:240px;margin-left:auto;margin-right:auto;">

            <div ng-if="activity.corner" style="float:left;max-width:240px;padding:20px;background-color:rgba(0,0,0,0.04);text-align:justify;">
                <img style="width:240px;height:150px;" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.cornerPic}}">
                <h5 class="text-center">{{activity.corner}}</h5>
                {{activity.cornerText}}
            </div>

        </div>

        <div ng-if="!activity.corner" class="text-center" style="padding-top:40px;width:240px;margin-left:auto;margin-right:auto;">

            <div ng-if="activity.goodies" style="float:right;max-width:240px;padding:20px;margin:0px;background-color:rgba(0,0,0,0.04);text-align:justify;">
                <h5 class="text-center" style="margin-top:0px;">Goodies</h5>
                {{activity.goodies}}
                <img style="width:240px;height:150px;padding-top:20px;" ng-src="/img/index/5.jpg">
            </div>

        </div>

    </div>

</section>


                <!------------------------------- Tips ---------------------------------------->


<section style="background-color:rgba(0,0,0,0.04);margin-top:-60px;">

    <div class="tips-holder" style="padding-bottom:40px;border-bottom:1px solid #e3e3e3">
        <div class="tip-header text-center" ng-if="activity.tips!=''">
            <b>TIPS ({{activity.tipsNumber}})</b>
        </div>
        <div class="tips-brick" ng-if="activity.tips!=''">
            <ul class="genres">
                <li ng-repeat="tip in activity.tips">
                    <img ng-src="https://graph.facebook.com/v2.2/{{tip.tipperfbId}}/picture"
                         style="width:50px;height:50px;" > {{tip.text}}
                </li>
            </ul>
        </div>
        <a href="" class="open-modal modal-pro-tip">
            <button style="margin-top:40px;width:300px;" class="tips-button" ng-if="editTips">
                <img ng-src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture"
                     style="width:50px;height:50px;margin-right:40px;" >
                Leave your tip
            </button>
        </a>
    </div>

</section>


<!--------------------------------------- CHEERS/SELFIES ------------------------------------------------>


<section>

    <div class="wrapper text-center event-extras" style="padding-top:40px;max-height:400px;overflow:scroll;">

        <h3>
            CHEERS ({{activity.selfiesNumber}})
        </h3>

        <img id="{{selfie.url}}" style="line-height:0px;width:98px;height:100px;" ng-repeat="selfie in activity.selfies" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{selfie.url}}" />

        <img id="{{i}}" ng-repeat="i in ii" ng-src="" style="line-height:0px;width:100px;height:100px;margin-right:2px;"/>

        <br />
        <br />

        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="text-center">
                <a href="" class="open-modal modal-selfie">
                    <button class="button button-primary">Spread the cheer</button>
                </a>
            </div>
        </div>

    </div>

</section>


<!----------------- Map -------------------->


<section style="background-color:rgba(0,0,0,0.04);margin-top:100px;">

    <div class="event-extra-info">
        <div class="wrapper">
            <div class="map-block" style="width:900px;margin-left:auto;margin-right:auto">

                <section id="cd-google-map">
                    <div id="google-container"></div>
                    <div id="cd-zoom-in"></div>
                    <div id="cd-zoom-out"></div>
                    <address>
                        <b>{{activity.location}}</b>
                        <br/>
                        <br />
                        {{activity.address}}
                        <br/>{{activity.neighborhood}}, {{activity.city}}
                        <br/>{{activity.phone}}
                        <br/> <br />
                        <span class="get-ride" ng-if="activity.bookRide" style="font-size:20px;">
                            <a ng-href="{{activity.bookRide}}">GET A RIDE</a>
                        </span>
                    </address>
                </section>

                <form action="http://maps.google.com/maps"
                      method="get"
                      target="_blank">
                    <input type="hidden"
                           name="daddr"
                           value="{{activity.location}} {{activity.address}} {{activity.neighborhood}}" />
                    <input type="submit"
                           class="btn-block"
                           value="Get directions"
                            style="cursor:pointer"/>
                </form>

                <div class="info-section"
                     ng-if="activity.locationWebsite || activity.zomatoLink || activity.facebookLink || activity.twitterLink">
                    <ul class="justified padd-left-none">
                        <li class="text-center" ng-if="activity.locationWebsite" style="padding:10px;">
                            <a href="{{activity.locationWebsite}}"
                               ng-if="activity.locationWebsite" style="padding:10px;padding-left:60px;padding-right:60px;">
                                Website
                            </a>
                        </li>
                        <li class="text-center" ng-if="activity.zomatoLink" style="padding:10px;">
                            <a href="{{activity.zomatoLink}}"
                               ng-if="activity.zomatoLink" style="padding:10px;padding-left:60px;padding-right:60px;">
                                Zomato
                            </a>
                        </li>
                        <li class="text-center" ng-if="activity.facebookLink" style="padding:10px;">
                            <a href="{{activity.facebookLink}}"
                               ng-if="activity.facebookLink" style="padding:10px;padding-left:60px;padding-right:60px;">
                                Facebook
                            </a>
                        </li>
                        <li class="text-center" ng-if="activity.twitterLink" style="padding:10px;">
                            <a href="{{activity.twitterLink}}"
                               ng-if="activity.twitterLink" style="padding:10px;padding-left:60px;padding-right:60px;">
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div>

            </div><!-- map block end here -->
        </div>

    </div>

</section>

<!----------------------- Activity review ------------------------------------------>

<div style="background-color:rgba(0,0,0,0.2)"
     ng-if="activity.preview === false">
    <div class="text-center">
        <button class="btn btn-primary"
                ng-click="acceptActivity(currentUser._id)"
                ng-if="currentUser.p2p">
            Accept Activity
        </button>
        <a href="/editActivity/{{activity._id}}/{{currentUser._id}}">Edit</a>
        <button class="btn btn-danger"
                ng-click="deleteActivity()">
            Delete Activity
        </button>
    </div>
</div>

<!---------------- Tags (Not to be removed; for better SEO) ------------------>

<div class="panel panel-default panel-right"
     ng-hide=true>
    <ul class="genres">
        <li ng-repeat="tag in activity.genre">{{tag}}</li>
    </ul>
</div>

<div class="wrapper"><!-- wrapper start -->

    <!-------------------------------------------- Suggestions ----------------------------------------------

    <div class="suggestion-block">

        <h2>You may like these</h2>

        <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4"
             ng-repeat="act in activities | orderBy:'timeAdded':true">
            <a href="/activities/{{act._id}}">
                <div class="place-cards">
                    <div class="place-img">
                        <img src="images/{{act.title}}.jpg"
                             alt="{{act.title}}">
                        <div class="event-stamp">
                            Outdoor
                        </div>
                    </div>
                    <div class="place-head">
                        <h4 class="margin-bottom-none">{{act.title}}</h4>
                        <p><i class="batch" data-icon="&#xF07D;"></i>{{act.location}}, {{act.neighborhood}}</p>
                    </div>
                    <div class="place-footer">
                        <i class="batch" data-icon="&#xf15D;"></i> {{act.subscriptions}}
								<span class="time-stamp">
									Added on {{activity.dateOfActivity | date:'shortTime'}}
								</span>
                    </div>
                </div>
            </a>
        </div>
    </div><!-- suggestion block -->

</div><!-- wrapper end -->

<!----------------------------------------------- Modals ----------------------------------------------->

        <!------------------------------- Selfie modal ------------------------->

<div class="modal modal-selfie">

    <span class="modal-overlay"></span>

    <div class="modal-content text-left modal-mini">

        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Upload Selfie</h2>
        </div><!-- modal head end -->

        <div class="text-center">
            <input type="file"
                   ng-if="addS"
                   ng-file-select="onSelfieSelect($files)"
                   style="margin-top:20px;font-size:14px;padding:10px;width:240px;"
                   required />
            <button ng-if="addS"
                    ng-click="addSelfies()">Upload Selfie</button>
        </div>

        <div class="bookmark-it-head-img text-center">
            <img ng-if="selfieImg" ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{selfieImg}}"/>
        </div>

        <div class="modal-footer text-right">
            <button class="button button-primary" ng-if="addS" ng-click="addSelfies()">Let 'er rip</button>
        </div>

    </div>
</div>

        <!----------------------------- Tips modal ----------------------------->

<div class="modal modal-pro-tip">

    <span class="modal-overlay"></span>

    <div class="modal-content text-left modal-mini">

        <div class="modal-head">
            <div class="close-modal"></div>
            <h2>Share your thoughts</h2>
        </div>

        <div class="bookmark-it-head-img">
            <img ng-src="https://s3-ap-southeast-1.amazonaws.com/joyage-images/{{activity.poster}}" style="width:600px;height:300px;">
        </div>

        <div class="modal-body">
            <textarea class="margin-top-none" name="tip" ng-model="tip" maxlength="140" placeholder="Add a pro tip..."></textarea>
        </div>

        <div class="modal-footer text-right" ng-click="addTips(tip)">
            <button class="button button-primary">Submit</button>
        </div>

    </div>
</div>

<!---------------------------- Footer ---------------------------->

<footer style="height:160px;clear:both;background-color:rgba(0,0,0,0.1);margin-top:30px;">
    <div class="container_27 clearfix">
        <div class="grid_4 pull-left" style="margin-left:100px;">

            <ul>
                <li>
                    JOYAGE
                </li>
                <li>
                    <a href="/about/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/privacy/">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="/tos/">
                        Terms of Service
                    </a>
                </li>
                <li>
                    <a href="mailto:admin@joyage.in?Subject=Problem%20detected%20on%20the%20website">
                        Report a problem
                    </a>
                </li>
            </ul>

        </div>
        
        <div class="grid_6 pull-right" style="margin-right:100px;">
            <div class="footer-logo">
                <h3 style="margin-top: 20px;color:#999;font-family:Montserrat">
                    <a href="/home" style="color:#999;font-family:Montserrat">
                        JOYAGE
                    </a>
                </h3>
            </div>
            <div style="font-size: 10px;margin-top: 20px;color:#999;">
                COPYRIGHT 2014
            </div>
            <div style="font-size: 10px;color:#999">
                JOYAGE INC.
            </div>
        </div>
    </div>
</footer>