<!----------------------------------------------------- Navbar -------------------------------------------->

<header ng-controller="NavbarCtrl"><!-- header start -->
    <div class="wrapper">
        <div class="col-lg-5 col-sm-6 col-xs-6 col-md-6">
            <div class="head-brand">
                <a href="/" style="font-family:Montserrat;color:white">Joyage</a>
            </div>
            <div class="city-select js-city-select">
                <div class="city-selected">Bangalore</div>
                <div class="select-dropdown"></div>
            </div>
            <div class="city-select-drawer js-city-select-drawer">
                <ul>
                    <li class="open-modal modal-city-update">Ahmedabad</li>
                    <li class="selected">Bangalore</li>
                    <li class="open-modal modal-city-update">Delhi</li>
                    <li class="open-modal modal-city-update">Mumbai</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-7 col-sm-6 col-xs-6 col-md-6">
            <div class="pull-right">
                <div class="head-search">
                    <!--input type="search" placeholder="Search..." /-->
                    <input class="search"
                           type="text"
                           ng-model="query"
                           style="margin-top:1px;background-color:white;"
                           placeholder="Search...">
                    <div class="head-search-icon">
                        <i class="batch" data-icon="&#xF097;"></i>
                    </div>
                </div><!-- search end -->

                <div class="navigation js-navigation"><!-- navigation starts here -->
                    <nav class="nav-drawer js-nav-drawer">
                        <div class="head-user-pic">
                            <!--img src="{{smallProfilePicture}}"-->
                        </div>
                        <div class="head-user-name">
                            <span ng-if="currentUser">{{currentUser.name}}</span>
                        </div>
                        <div class="navToggle">
                            <div class="icon-left"></div>
                            <div class="icon-right"></div>
                        </div>
                        <ul class="nav-list">
                            <li>
                                <a href="/profile/{{currentUser._id}}"
                                   ng-if="currentUser">
                    <span class="nav-action-icons">
                      <i class="batch" data-icon="&#xF170;"></i>
                    </span>
                                    Profile
                                </a>
                                <a href="/login"
                                   ng-if="!currentUser">
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{currentUser._id}}">
                    <span class="nav-action-icons">
                      <i class="batch" data-icon="&#xF04D;"></i>
                    </span>
                                    Edit Settings
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{currentUser._id}}">
                    <span class="nav-action-icons">
                      <i class="batch" data-icon="&#xF171;"></i>
                    </span>
                                    Invite Friends
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{currentUser._id}}">
                    <span class="nav-action-icons">
                      <i class="batch" data-icon="&#xF007;"></i>
                    </span>
                                    Send Feedback
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="logout()">
                    <span class="nav-action-icons">
                      <i class="batch" data-icon="&#xF069;"></i>
                    </span>
                                    Log Out
                                </a>
                            </li>
                            <li>
                                <a ng-if="currentUser.curator === true" href="/admin/{{currentUser._id}}">
                                    Admin
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- navigation ends here -->

            </div><!-- pull right end -->
        </div>
    </div><!-- wrapper ends -->
</header><!-- Header ends -->

<!----------------------------- Categories -------------------------------------->

<div id="new-home" style="margin-top:-20px">
    <div id="filter-and-sort-bars">
        <div id="activity-filter">
            
            <section class="container_27 clearfix" style="font-family:Courgette">
                <section class="grid_27">                        
                    I'm looking for
                    <span
                        class="filter-select"
                        data-filter-id="category-filter">
                        <a id="categories-select"
                           style="text-decoration:none;color:#0095dd;"
                           onclick='displayMenu();'
                           onmouseover='this.style.color="#cd7f32";'
                           onmouseout='this.style.color="#0095dd";'>
                            {{headingTitle}}
                        </a>
                    </span>
                        in <span id="neighborhoods-select" class="filter-select" data-filter-id="neighborhood-filter">Bangalore</span>.
                </section>
            </section>

            <div id="filter-container">
                <section class="container_27 clearfix">
                    <section class="grid_27">
                        <div id="category-filter"
                             class="filter-options"
                             data-filter-type="categories">
                            <div>
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF160;"></h2>
                                    <div class="filter-heading">Active &amp; Outdoor</div>    
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[0])" class="filter-sub" data-fid="79">{{genres[0]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[1])" class="filter-sub" data-fid="80">{{genres[1]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[2])" class="filter-sub" data-fid="81">{{genres[2]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[3])" class="filter-sub" data-fid="82">{{genres[3]}}</div>
                                </div>        
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF057;"></h2>
                                    <div class="filter-heading">Bars &amp; Drinking</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[4])" class="filter-sub" data-fid="83">{{genres[4]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[5])" class="filter-sub" data-fid="84">{{genres[5]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[6])" class="filter-sub" data-fid="85">{{genres[6]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[7])" class="filter-sub" data-fid="86">{{genres[7]}}</div>
                                </div>
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF0D1;"></h2>
                                    <div class="filter-heading">Classes &amp; Exhibits</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[8])" class="filter-sub" data-fid="87">{{genres[8]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[9])" class="filter-sub" data-fid="88">{{genres[9]}}</div>
                                </div>
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF070;"></h2>
                                    <div class="filter-heading">Food &amp; Dining</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[10])" class="filter-sub" data-fid="90">{{genres[10]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[11])" class="filter-sub" data-fid="94">{{genres[11]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[12])" class="filter-sub" data-fid="92">{{genres[12]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[13])" class="filter-sub" data-fid="91">{{genres[13]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[14])" class="filter-sub" data-fid="93">{{genres[14]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[15])" class="filter-sub" data-fid="102">{{genres[15]}}</div>
                                </div>
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF075;"></h2>
                                    <div class="filter-heading">Shows &amp; Entertainment</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[16])" class="filter-sub" data-fid="95">{{genres[16]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[17])" class="filter-sub" data-fid="101">{{genres[17]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[18])" class="filter-sub" data-fid="96">{{genres[18]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[19])" class="filter-sub" data-fid="97">{{genres[19]}}</div>
                                </div>
                                <div class="filter-column">
                                    <h2 class="batch" data-icon="&#xF049;"></h2>
                                    <div class="filter-heading">Date Spots</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[20])" class="filter-sub" data-fid="103">{{genres[20]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[21])" class="filter-sub" data-fid="105">{{genres[21]}}</div>
                                    <div onclick="displayMenu()" ng-click="filterByGenre(genres[22])" class="filter-sub" data-fid="107">{{genres[22]}}</div>
                                </div>
                            </div>
                            <div class="clear-all"></div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <div class="pull-right">
                                    <button class="button button-primary" ng-click="allActivities()">Show all activities</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------ Activities ----------------------------------->

<div class="result-bar">
    <div class="wrapper">
        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <p class="results-announce">320 Results</p>
            <p class="latest-announce"><span>80</span> Latest on Joyage</p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="pull-right">
                <ul style="list-style:none;display:inline;">
                    Page
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(1)">1</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(2)">2</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(3)">3</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(4)">4</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(5)">5</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(6)">6</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(7)">7</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(8)">8</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(9)">9</span></a></li>
                    <li style="display:inline;"><a href=""><span ng-click="pageClick(10)">10</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="pull-right">
                Sort by :
                <select id="year" name="sortOrder" ng-model="sortOrder">
                    <option value="timeAdded" ng-click="sort(1)">New on Joyage</option>
                    <option value="popularity" ng-click="sort(2)">Popularity</option>
                    <option value="dateOfActivity" ng-click="sort(3)">Upcoming</option>
                    <option value="trending">Trending</option>>
                </select>
            </div>
        </div>
    </div>
</div><!-- result bar end -->

<div class="cards-holder">
    <div class="wrapper" ng-repeat="activity in activities | filter:query | orderBy:sortOrder:true">
        <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4">
            <a href="/activities/{{activity._id}}">
                <div class="place-cards">
                    <!--div class="latest-ribbon"></div-->
                    <div class="place-img">
                        <img ng-src="images/{{activity.title}}.jpg" alt="{{activity.title}}">
                        <div class="event-stamp">
                            <i class="batch" data-icon="&#xF090;"></i>
                            {{activity.dateOfActivity | date: mediumDate}}
                        </div>
                    </div>
                    <div class="place-head">
                        <h4 class="margin-bottom-none">{{activity.title}}</h4>
                        <p><i class="batch" data-icon="&#xF07D;"></i>{{activity.location}}, {{activity.neighborhood}}</p>
                    </div>
                    <div class="place-footer">
                        <i class="batch" data-icon="&#xf15D;"></i> {{activity.subscriptions}}
								<span class="time-stamp">
									Added on {{activity.timeAdded | date: shortTime}}
								</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>