<!----------------------------------------------------- Navbar -------------------------------------------->

<header style="background-color:rgba(255,255,255,0.5);border:none;position:fixed;" ng-controller="NavbarCtrl">
    <div class="wrapper">
        <div class="col-lg-4 col-sm-4 col-xs-6 col-md-4 padd-left-none">
            <div class="head-brand" ng-click="go('/')" style="cursor:pointer">
                Joyage
            </div>
        </div>

        <div class="col-lg-8 col-sm-8 col-xs-6 col-md-8 padd-right-none">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-if="currentUser" src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span ng-if="currentUser" class="user-name">{{currentUser.name}}</span>
                    <span ng-if="!currentUser" class="user-name" ng-click="go('/login')">Login</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <li class="selected"><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <a ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a>
                        <a ng-href="javascript:void(0)" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!--header ng-controller="NavbarCtrl">
    <div class="wrapper">
        <div class="col-lg-5 col-sm-6 col-xs-6 col-md-6">
            <div class="head-brand">
                Joyage
            </div>
            <div class="city-select js-city-select">
                <div class="city-selected">Bangalore</div>
                <div class="select-dropdown"></div>
            </div>
            <div class="city-select-drawer js-city-select-drawer">
                <ul>
                    <li class="open-modal modal-city-update">Ahmedabad</li>
                    <li class="selected">Bangalore</li>
                    <li class="open-modal modal-city-update">Delhi</li>
                    <li class="open-modal modal-city-update">Mumbai</li>
                </ul>
            </div>
        </div>
    </div>
</header><!-- Header ends -->
<div class="mood-head-holde">
    <img src="img/2.jpg" style="width:100%;height:800px;">
    <div class="overlay" style="position:absolute;margin-top:-800px;"></div>
    <div class="mood-showup-block absolute-center">
        <h2>A perfect day to do this</h2>
        <p>Here is the detailed information about this adventure. Join the rush to make this memorable or sleep well.<br /> Choices is yours.</p>
    </div><!-- mood-showup-block -->
</div><!-- mood head holder -->

<!----------------------------- Categories -------------------------------------->

<div class="sorting-head-holder">
    <div class="sort-select-brick">
        <div class="wrapper">
            <div class="pick-mood-action js-filter-mood" ng-click="displayMenu()">
                Pick Your Mood
            </div><!-- pick mood action -->

            <div class="pull-right" style="display: inline-block;">
                <div class="js-user-menu-drawer">
                    <ul>
                        <li ng-click="sort(1)" style="cursor:pointer">
                            New on Joyage
                        </li>
                        <li ng-click="sort(2)" style="cursor:pointer">
                            Popularity
                        </li>
                        <li ng-click="sort(3)" style="cursor:pointer">
                            Upcoming
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-right" style="display: inline-block;">
                <div class="js-user-menu-drawer">
                    <ul>
                        <li ng-click="filterByCity('Bangalore')" style="cursor:pointer">
                            Bangalore
                        </li>
                        <li ng-click="filterByCity('Delhi')" style="cursor:pointer">
                            Delhi
                        </li>
                        <li ng-click="filterByCity('Mumbai')" style="cursor:pointer">
                            Mumbai
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- wrapper end -->

        <div class="mood-holder js-mood-holder hide" id="filter-container">
            <div class="wrapper">
                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[0])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-saint"></div>
                        <p class="filter-heading">{{genres[0]}}</p>

                    </div><!-- emotions holder end -->
                </div>

                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[1])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-sunglasses"></div>
                        <p class="filter-heading">{{genres[1]}}</p>
                    </div><!-- emotions holder end -->
                </div>

                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[2])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-happy"></div>
                        <p class="filter-heading">{{genres[2]}}</p>
                    </div><!-- emotions holder end -->
                </div>

                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[3])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-thumbsup"></div>
                        <p class="filter-heading">{{genres[3]}}</p>
                    </div><!-- emotions holder end -->
                </div>

                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[4])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-grin"></div>
                        <p class="filter-heading">{{genres[4]}}</p>
                    </div><!-- emotions holder end -->
                </div>

                <div class="col-lg-2 col-sm-2 col-xs-6 col-md-2" ng-click="filterByGenre(genres[5])">
                    <div class="emotions-holder">
                        <div class="emotion icon-emo-beer"></div>
                        <p class="filter-heading">{{genres[5]}}</p>
                    </div><!-- emotions holder end -->
                </div>
            </div><!-- wrapper end -->
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="pull-right">
                    <button class="button button-primary" ng-click="allActivities()">Show all activities</button>
                </div>
            </div>
        </div><!-- mood holder end -->
    </div><!-- sort select bricke end -->
    <div class="sorted-mood text-center" id="mood-def">
        <h3>{{headingTitle}}</h3>
        <p>{{gDesc}}</p>
    </div><!-- sorted mood end -->
</div><!-- sorting head holder -->

<!------------------------------------------ Activities ----------------------------------->

<div class="events-list-holder">
    <div class="wrapper">
        <div class="col-lg-9 col-md-9 col-xs-18 col-sm-9">
            <input ng-model="query"
                   placeholder="Search"
                   style="margin-top: 20px;font-size: 14px;">
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="text-center">
                <button ng-click="search()"
                        style="width:240px;height:40px;margin-top:20px;font-size:14px;background-color:rgba(100,100,240,0.4);box-shadow:none;text-shadow:none;border-radius:5px;">
                    Start the magic
                </button>
            </div>
        </div>
        <ul>
            <li ng-repeat="acti in activ | orderBy:sortOrder:true">
                <ul>
                    <li ng-repeat="act in acti | filter:query">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <h3>{{act.title}}</h3>
                            <p data-sr="enter left please, and hustle 20px">{{act.description}}</p>
                            <div class="clear-all"></div>

                            <div class="pull-left">
                                <div class="star-holder">
                                    <span class="batch" data-icon="&#xF15D;"></span>
                                </div>
                            </div>
                            <p class="event-location">{{act.location}}</p>
                            <p>{{act.neighborhood}}</p>
                            <a ng-href="/activities/{{act._id}}">Learn More &rarr;</a>
                        </div>
                        <a ng-href="/activities/{{act._id}}">
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                <img src="images/{{act.title}}.jpg">
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="text-center">
            <button class="button button-primary" ng-click="pageClick()">Show more</button>
        </div>
    </div>
</div>

<!--div class="result-bar">
    <div class="wrapper" style="margin-top: 20px;">
        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4">
            <div class="text-center">
                <span ng-click="sort(1)" style="cursor:pointer">New on Joyage</span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4">
            <div class="text-center">
                <span ng-click="sort(2)" style="cursor:pointer">Popularity</span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4">
            <div class="text-center">
                <span ng-click="sort(3)" style="cursor:pointer">Upcoming</span>
            </div>
        </div>
    </div>
</div>

<div class="cards-holder">
    <div class="wrapper">
        <div class="col-lg-9 col-md-9 col-xs-18 col-sm-9">
            <input ng-model="query"
                    placeholder="Search"
                    style="margin-top: 20px;font-size: 14px;">
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="text-center">
                <button ng-click="search()"
                        style="width:240px;height:40px;margin-top:20px;font-size:14px;background-color:rgba(100,100,240,0.4);box-shadow:none;text-shadow:none;border-radius:5px;">
                    Start the magic
                </button>
            </div>
        </div>
        <div ng-repeat="acti in activ | orderBy:sortOrder:true">
            <div ng-repeat="act in acti | filter:query">
                <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4">
                    <a ng-href="/activities/{{act._id}}">
                        <div class="place-cards">
                            <div class="place-img">
                                <img ng-src="images/{{act.title}}.jpg" alt="{{act.title}}" ng-if="!act.poster">
                                <img ng-src="images/{{act.poster}}" alt="{{at.title}}" ng-if="act.poster">
                                <div class="event-stamp" ng-if="act.dateOfActivity">
                                    <i class="batch" data-icon="&#xF090;"></i>
                                    {{act.dateOfActivity | date: mediumDate}}
                                </div>
                            </div>
                            <div class="place-head">
                                <h4 class="margin-bottom-none">{{act.title}}</h4>
                                <p><i class="batch" data-icon="&#xF07D;"></i>{{act.location}}, {{act.neighborhood}}</p>
                            </div>
                            <div class="place-footer">
                                <i class="batch" data-icon="&#xf15D;"></i> {{act.subscriptions}}
                                <span class="time-stamp">
                                    Added on {{act.timeAdded | date: shortTime}}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="clear-all"></div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="text-center">
                <button class="button button-primary" ng-click="pageClick()">Show more</button>
            </div>
        </div>
    </div>
</div-->