<div class="main-header top-header">
    <div class="wrapper">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
            <div class="head-brand" style="float: none;">
                <a href="/" style="font-family:Montserrat;color:white">Joyage</a>
            </div>
        </div>
    </div><!-- wrapper end -->
</div><!-- main header end -->

<div class="login-box-block absolute-center clearfix">
    <div class="login-box">
        <div class="login-box-head text-center">
            Invite Friends
        </div>
        <div class="login-body clearfix">
            <div class="with-facebook text-center" ng-click="fb_request()">
                <img src="https://www.facebookbrand.com/img/facebook.icon.png">
                Invite facebook friends {{profile.name}}
            </div>
        </div>
    </div>
</div>