<header style="background-color:rgba(71,162,190,1);border:none;">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img src="/img/logo-white.png" style="height:100px;margin-top:-20px;"/>
            </a>
        </div>
        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:60px;">
            <div class="pull-right">
                <div class="user-menu js-user-menu">
                    <a href='/login' style="color:white">Login</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <img src="img/landing_page.jpg">
</div>