<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
  <div class="wrapper" style="margin-bottom:-25px;">
    <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
      <a ng-href="/" style="cursor:pointer">
        <img ng-src="/img/logo-white.png" style="height:46px"/>
      </a>
    </div>

    <div id="fb-root"></div>

    <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
      <div class="pull-right">
        <div class="user-menu js-user-menu" style="width:300px;">
          <div class="with-facebook text-center" ng-click="facebookLogin()">
            <img src="https://www.facebookbrand.com/img/facebook.icon.png" style="width:25px;height:25px;border-radius:0px;">
            Log in with facebook
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<section style="z-index:-1">

    <div class="landPageImage landPageSec1 col-lg-8 col-md-8 col-sm-8 col-xs-16" id="landPageImage1" style="margin-top:65px;">
      <img src="img/landPage1.jpg"/>
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8 hide" id="landPage1" style="background-color:indianred;margin-top:65px;">
        Are you looking to explore the art scene in the city? Or planning a fancy dinner date this Friday? How about a pub crawl with friends on Saturday night? Do you wish attend a concert by your favorite artiste? Or just go hiking instead?
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8" id="landPage11" style="background-color:indianred;margin-top:65px;font-size:80px;padding-top:260px;padding-left:140px;">
      LET'S
    </div>

  <div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8 hide" id="landPage2" style="background-color:green;opacity:0.6">
      Exploring the city is great, but sometimes you need a little more than serendipity to guide you. Let us do the dirty work. We will guide you to the best of dining, adventure and parties your city has to offer. You won't have to look elsewhere.
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8" id="landPage22" style="background-color:green;opacity:0.6;font-size:80px;padding-top:260px;padding-left:160px;">
      DO
    </div>
    <div class="landPageImage landPageSec2 col-lg-8 col-md-8 col-sm-8 col-xs-16">
      <img src="img/landPage2.jpg"/>
    </div>
  </div>

  <div>
    <div class="landPageImage landPageSec3 col-lg-8 col-md-8 col-sm-8 col-xs-16">
      <img src="img/landPage4.jpg"/>
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8 hide" id="landPage3" style="background-color:mediumpurple">
      We don't like ratings. Every activity on Joyage is thoroughly researched and carefully picked by the finest tastemakers in your city. There is no activity on Joyage that rates 3.4/5 or 4.7/5. Every activity is 5/5. You have our word.
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8" id="landPage33" style="background-color:mediumpurple;font-size:80px;padding-top:260px;padding-left:10px;">
      SOMETHING
    </div>
  </div>

  <div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8 hide" id="landPage4" style="background-color:orange">
      Joyage is not about deals and discounts. It is about discovering and sharing the incredible experiences with your family and friends. Of course, that does not mean that you won't be pampered with the choicest goodies.
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8" id="landPage44" style="background-color:orange;font-size:80px;padding-top:260px;padding-left:160px;">
      NEW
    </div>
    <div class="landPageImage landPageSec4 col-lg-8 col-md-8 col-sm-8 col-xs-16">
      <img src="img/landPage3.jpg"/>
    </div>
  </div>

  <div>
    <div class="landPageImage landPageSec5 col-lg-8 col-md-8 col-sm-8 col-xs-16">
      <img src="img/landPage6.jpg"/>
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8 hide" id="landPage5" style="background-color:#536872;">
      All you have in your life are 1000 weekends. 1000 weekends spread over 20 years. How you spend them will define your life. You could either watch TV all weekend or open Joyage app, pick an activity and head out. 1000, remember!
    </div>
    <div class="landPageText col-lg-4 col-md-4 col-sm-4 col-xs-8" id="landPage55" style="background-color:#536872;font-size:80px;padding-top:280px;padding-left:20px;">
      THIS WEEKEND
    </div>
  </div>

</section>

<!---------------------------- Footer ---------------------------->

<footer style="height:100px;clear:both;background-color:rgba(71,162,190,1);">
  <div class="container_27 clearfix">
    <div class="grid_4 text-center" style="font-size:20px;padding-top:20px;">

      <a href="https://play.google.com/store/apps/details?id=in.joyage" style="margin-right:150px;">
        <img ng-src="/img/gplay.png" />
      </a>

      <a href="mailto:admin@joyage.in" style="color:white;">
        Contact us
      </a>

    </div>

  </div>
</footer>