<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
  <div class="wrapper" style="margin-bottom:-25px;">
    <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
      <a href="/" style="cursor:pointer">
        <img ng-src="/img/logo-white.png" style="height:46px"/>
      </a>
    </div>

    <div id="fb-root"></div>

    <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
      <div class="pull-right">
        <div class="user-menu js-user-menu">
        </div>
      </div>
    </div>

  </div>
</header>

<div class="login-box-block absolute-center clearfix">
  <div class="login-box">
    <div class="login-box-head text-center">
      LOG IN
    </div>
    <div class="login-body clearfix">
      <div class="with-facebook text-center" ng-click="facebookLogin()">
        <img src="https://www.facebookbrand.com/img/facebook.icon.png">
        Log in with facebook
      </div>
      <div class="seperator-block open-modal modal-facebook"></div>
    </div>
  </div>
</div>

<div class="modal modal-facebook">
  <span class="modal-overlay"></span>
  <div class="modal-content modal-mini text-center">
    <div class="modal-head">
      <div class="close-modal"></div>
      <h2>Why we use facebook?</h2>
    </div><!-- modal head end -->
    <div class="modal-body clearfix">
      <p class="margin-bottom-none margin-top-none">Privacy is the top most priority for us here at Joyage.</p>
      <p>We will not post on your timeline without your permission.</p>
      <div class="seperator-block"></div>
      <div class="facebook-features">
        <i class="batch" data-icon="&#xF0DD;"></i>
        <p>Best recommendations based on your interests.</p>
      </div>
      <div class="facebook-features">
        <i class="batch" data-icon="&#xF045;"></i>
        <p>Connect with friends and have fun.</p>
      </div>
      <div class="facebook-features">
        <i class="batch" data-icon="&#xF0C2;"></i>
        <p>One less password to remember.</p>
      </div>
    </div>
  </div><!-- modal-content end -->
</div><!-- modal end -->



<!--div class="container">
  <div class="row">
    <div class="center-form panel">
        <div class="panel-body">
          <h2 class="text-center">Log in</h2>
          <!--form method="post" ng-submit="login()" name="loginForm">
            <div class="form-group has-feedback">
              <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
              <span class="ion-at form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
              <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
              <span class="ion-key form-control-feedback"></span>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">Log in</button>

            <br/>

            <p class="text-center">
              <a href="#">Forgot your password?</a>
            </p>

            <p class="text-center text-muted">
              <small>Don't have an account yet? <a href="/signup">Sign up</a></small>
            </p>

            <div class="signup-or-separator">
              <h6 class="text">or</h6>
              <hr>
            </div>
          
          </form-->

          <!--button class="btn btn-lg btn-block btn-facebook" ng-click="facebookLogin()"><span class="ion-social-facebook"></span>Sign in with Facebook</button>
          <!--button class="btn btn-lg btn-block btn-google-plus" ng-click="googleLogin()"><span class="ion-social-googleplus"></span>Sign in with Google</button-->
        <!--/div>
    </div>
  </div>
</div>