<section style="min-height:600px">
    <div class="container">
        <div class="text-center">
            <h3>Hello {{profile.name}}</h3>
        </div>
        <div class="text-center">
            <h4>Profile</h4>
            <div><b>Name:</b> {{profile.name}}</div>
            <div><b>Email:</b> {{profile.email}}</div>
        </div>
    </div>
    <hr>
    <section style="background-color:rgba(0,0,0,0.1)" ng-if="subscribeCount != 0">
        <div class="container">
          <h4 style="margin-top:30px;" class="text-center">My bookmarks ({{subscribeCount}})</h4>
          <div style="margin-top:20px" class="fade-repeat col-xs-4 col-md-4" ng-repeat="act in subscribedActivities | orderBy:'timeAdded':true">
              <div class="single-activity-box">
                  <div class="activity-image">
                      <a href="/activities/{{act._id}}">
                          <img style="height:222px;" ng-src="/images/{{act.poster}}" width="100%" alt="{{act.title}}" />
                      </a>
                  </div>
                  <div class="activity-info">
                      <a href="/activities/{{act._id}}">
                          {{act.title}}
                          <p class="text-muted">{{act.location}} ({{act.neighborhood}})</p>
                      </a>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <hr>
    <section style="background-color:rgba(0,0,0,0.1)" ng-if="doneCount != 0">
        <div class="container">
          <h4 style="margin-top:30px;" class="text-center">Completed Activities ({{doneCount}})</h4>
          <div style="margin-top:20px" class="fade-repeat col-xs-4 col-md-4" ng-repeat="act in doneActivities | orderBy:'timeAdded':true">
              <div class="single-activity-box">
                  <div class="activity-image">
                      <a href="/activities/{{act._id}}">
                          <img style="height:222px;" ng-src="/images/{{act.poster}}" width="100%" alt="{{act.title}}" />
                      </a>
                  </div>
                  <div class="activity-info">
                      <a href="/activities/{{act._id}}">
                          {{act.title}}
                          <p class="text-muted">{{act.location}} ({{act.neighborhood}})</p>
                      </a>
                  </div>
              </div>
          </div>
        </div>
    </section>
</section>

<!---------------------------- Footer ---------------------------->

<footer id="footer-1080" style="margin-bottom:-20px;z-index: 1001;clear:both;">
    <div class="container_27 clearfix">
        <div class="grid_4 pull-left">
            <div class="headings">JOYAGE</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="About Us" href="/about/" target="_blank">About Us</a>
                <a data-log-area="Footer" data-log-message="Jobs" href="/jobs/" target="_blank">Jobs</a>
                <a data-log-area="Footer" data-log-message="Privacy Policy" href="/privacy/" target="_blank">Privacy Policy</a>
                <a data-log-area="Footer" data-log-message="Terms Of Service" href="/tos/" target="_blank">Terms of Service</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="headings">CONTRIBUTE</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="Send Feedback" onclick="" href="#" target="_blank">Send Feedback</a>
                <a data-log-area="Footer" data-log-message="Submit an Activity" href="#" target="_blank">Suggest an Activity</a>
                <a data-log-area="Footer" data-log-message="Local Business" href="#" target="_blank">Own a Local Business?</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="headings">KEEP IN TOUCH</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="Blog" href="http://joyage.com/blog/" target="_blank">Blog</a>
                <a data-log-area="Footer" data-log-message="Facebook" href="https://facebook.com/joyage" target="_blank">Facebook</a>
                <a data-log-area="Footer" data-log-message="Twitter" href="http://twitter.com/joyage" target="_blank">Twitter</a>
            </div>
        </div>
        
        <div class="grid_6 pull-right">
            <div class="footer-logo"><h3 style="margin-top: 20px;color:#999;">JOYAGE</h3></div>
            <div style="font-size: 10px;margin-top: 20px;color:#999;">COPYRIGHT 2014</div>
            <div style="font-size: 10px;color:#999">JOYAGE</div>
        </div>
    </div>
</footer>