<!----------------------------------------------------- Navbar -------------------------------------------->

<header style="background-color:rgba(255,255,255,0.5);border:none;position:fixed;" ng-controller="NavbarCtrl">
    <div class="wrapper">
        <div class="col-lg-4 col-sm-4 col-xs-6 col-md-4 padd-left-none">
            <div class="head-brand" ng-click="go('/')" style="cursor:pointer">
                Joyage
            </div>
        </div>

        <div class="col-lg-8 col-sm-8 col-xs-6 col-md-8 padd-right-none">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-if="currentUser" src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span ng-if="currentUser" class="user-name">{{currentUser.name}}</span>
                    <span ng-if="!currentUser" class="user-name" ng-click="go('/login')">Login</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <li class="selected"><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <a ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a>
                        <a ng-href="javascript:void(0)" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="wrapper" style="margin-top:40px;">
    <div class="profile-head clearfix">
        <div class="col-lg-8 col-sm-7 col-md-8 col-xs-12">
            <div class="profile-pic">
                <img src="{{profilePicture}}">
            </div>
            <div class="profile-detail">
                <h1>{{profile.name}}</h1>
                <!--a href=""><i class="batch" data-icon="&#xf150;"></i></a>
                <a href=""><i class="batch" data-icon="&#xf151;"></i></a-->
            </div>
        </div>
    </div><!-- profile end here -->

    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 padd">
        <!--div class="joyage-activity">
            <a href="#" class="open-modal modal-favorites">35 <small>FAVORITES</small></a>
        </div-->
        <div class="joyage-activity">
            <a href="" class="open-modal modal-bookmarked">{{subscribeCount}} <small>BOOKMARKED</small></a>
        </div>
        <div class="joyage-activity">
            <a href="" class="open-modal modal-activities">{{doneCount}} <small>ACTIVITIES DONE</small></a>
        </div>
        <div class="joyage-activity">
            <a href="" class="open-modal modal-activities">{{profile.tipsCount}} <small>TIPS</small></a>
        </div>
    </div>


    <div class="wrapped-tab">
        <ul class="js-schedule-tabs schedule-tabs">
            <li class="tab-link current" data-tab="tab-1">
                <div>My Collections</div>
            </li>
            <!--li class="tab-link" data-tab="tab-2">
                <div>Recent Activity</div>
            </li-->
        </ul>
    </div>

    <div id="tab-1" class="tab-content current">
        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="collections-holder">
                <h4>Things I want to do ({{subscribeCount}})</h4>
                <div class="collection-pic-block">
                    <div ng-repeat="act in subscribedActivities | orderBy:'timeAdded':true">
                        <a href="/activities/{{act._id}}"><img ng-src="images/{{act.title}}.jpg"></a>
                    </div>
                    <!--img ng-repeat="act in subscribedActivities | orderBy:'timeAdded':true" src="images/{{act.title}}.jpg"-->
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="collections-holder">
                <h4>Things I've done ({{doneCount}})</h4>
                <div class="collection-pic-block">
                    <img ng-repeat="act in doneActivities | orderBy:'timeAdded':true" src="images/{{act.title}}.jpg">
                </div>
            </a>
        </div>
        <!--div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="new-collections">
                <h4>CREATE NEW COLLECTION</h4>
                <div class="new-collection-holder">
                    <i class="batch" data-icon="&#xF0D8;"></i>
                </div>
            </a>
        </div-->

    </div><!-- tab 1 content end here -->

</div>

<!---------------------------- Footer ---------------------------->

<footer style="height:160px;clear:both;background-color:rgba(0,0,0,0.1);margin-top:30px;">
    <div class="container_27 clearfix">
        <div class="grid_4 pull-left" style="margin-left:100px;">

            <ul>
                <li>
                    JOYAGE
                </li>
                <li>
                    <a href="/about/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/jobs/">
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="/privacy/">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="/tos/">
                        Terms of Service
                    </a>
                </li>
                <li>
                    <a href="mailto:admin@joyage.in?Subject=Problem%20detected%20on%20the%20website">
                        Report a problem
                    </a>
                </li>
            </ul>

        </div>

        <div class="grid_6 pull-right" style="margin-right:100px;">
            <div class="footer-logo">
                <h3 style="margin-top: 20px;color:#999;font-family:Montserrat">
                    <a href="/" style="color:#999;font-family:Montserrat">
                        JOYAGE
                    </a>
                </h3>
            </div>
            <div style="font-size: 10px;margin-top: 20px;color:#999;">
                COPYRIGHT 2014
            </div>
            <div style="font-size: 10px;color:#999">
                JOYAGE INC.
            </div>
        </div>
    </div>
</footer>