<div class="wrapper">
    <div class="profile-head clearfix">
        <div class="col-lg-8 col-sm-7 col-md-8 col-xs-12">
            <div class="profile-pic">
                <img src="{{profilePicture}}">
            </div>
            <div class="profile-detail">
                <h1>{{profile.name}}</h1>
                <!--h6><i class="batch" data-icon="&#xF07B;"></i> Yorkshire</h6-->
                <a href=""><i class="batch" data-icon="&#xf150;"></i></a>
                <a href=""><i class="batch" data-icon="&#xf151;"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-5 col-md-4 col-xs-12">
            <div class="pull-right">
                <a href="/invite/{{profile._id}}">Invite friends</a>
                <!--div class="followed-section text-right">
                    <a href="#"><p><b>29</b> <small>FOLLOWED</small></p></a>
                    <a href=""><p><b>129</b> <small>FOLLOWERS</small></p></a>
                </div-->
            </div>
        </div>
    </div><!-- profile end here -->

    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 padd">
        <!--div class="joyage-activity">
            <a href="#" class="open-modal modal-favorites">35 <small>FAVORITES</small></a>
        </div-->
        <div class="joyage-activity">
            <a href="#" class="open-modal modal-bookmarked">{{subscribeCount}} <small>BOOKMARKED</small></a>
        </div>
        <div class="joyage-activity">
            <a href="#" class="open-modal modal-activities">{{doneCount}} <small>ACTIVITIES DONE</small></a>
        </div>
    </div>


    <div class="wrapped-tab">
        <ul class="js-schedule-tabs schedule-tabs">
            <li class="tab-link current" data-tab="tab-1">
                <div>My Collections<div>
            </li><!--
					--><li class="tab-link" data-tab="tab-2">
            <div>Recent Activity</div>
        </li>
        </ul>
    </div>

    <div id="tab-1" class="tab-content current">
        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="collections-holder">
                <h4>Things I want to do ({{subscribeCount}})</h4>
                <div class="collection-pic-block">
                    <img ng-repeat="act in subscribedActivities | orderBy:'timeAdded':true" src="images/{{act.title}}.jpg">
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="collections-holder">
                <h4>Things I've done ({{doneCount}})</h4>
                <div class="collection-pic-block">
                    <img ng-repeat="act in doneActivities | orderBy:'timeAdded':true" src="images/{{act.title}}.jpg">
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
            <a href="" class="new-collections">
                <h4>CREATE NEW COLLECTION</h4>
                <div class="new-collection-holder">
                    <i class="batch" data-icon="&#xF0D8;"></i>
                </div>
            </a>
        </div>

    </div><!-- tab 1 content end here -->

</div>

<!---------------------------- Footer ---------------------------->

<footer id="footer-1080" style="margin-bottom:-20px;z-index: 1001;clear:both;">
    <div class="container_27 clearfix">
        <div class="grid_4 pull-left">
            <div class="headings">JOYAGE</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="About Us" href="/about/" target="_blank">About Us</a>
                <a data-log-area="Footer" data-log-message="Jobs" href="/jobs/" target="_blank">Jobs</a>
                <a data-log-area="Footer" data-log-message="Privacy Policy" href="/privacy/" target="_blank">Privacy Policy</a>
                <a data-log-area="Footer" data-log-message="Terms Of Service" href="/tos/" target="_blank">Terms of Service</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="headings">CONTRIBUTE</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="Send Feedback" onclick="" href="#" target="_blank">Send Feedback</a>
                <a data-log-area="Footer" data-log-message="Submit an Activity" href="#" target="_blank">Suggest an Activity</a>
                <a data-log-area="Footer" data-log-message="Local Business" href="#" target="_blank">Own a Local Business?</a>
            </div>
        </div>
        <div class="grid_4">
            <div class="headings">KEEP IN TOUCH</div>
            <hr>
            <div class="footer-links">
                <a data-log-area="Footer" data-log-message="Blog" href="http://joyage.com/blog/" target="_blank">Blog</a>
                <a data-log-area="Footer" data-log-message="Facebook" href="https://facebook.com/joyage" target="_blank">Facebook</a>
                <a data-log-area="Footer" data-log-message="Twitter" href="http://twitter.com/joyage" target="_blank">Twitter</a>
            </div>
        </div>
        
        <div class="grid_6 pull-right">
            <div class="footer-logo">
                <h3 style="margin-top: 20px;color:#999;font-family:Montserrat">
                    <a href="/" style="color:#999;font-family:Montserrat">
                        JOYAGE
                    </a>
                </h3>
            </div>
            <div style="font-size: 10px;margin-top: 20px;color:#999;">COPYRIGHT 2014</div>
            <div style="font-size: 10px;color:#999">JOYAGE</div>
        </div>
    </div>
</footer>