<!----------------------------------------------------- Navbar -------------------------------------------->

<header ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a class="head-brand" ng-href="/home" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none custom-user-menu">
            <div class="pull-right">
                <div class="user-menu js-user-menu" ng-click="userMenu()">
                    <img ng-src="https://graph.facebook.com/v2.2/{{currentUser.facebookId}}/picture">
                    <span class="user-name">{{currentUser.name}}</span>
                </div>
                <div ng-if="currentUser" class="user-menu-drawer js-user-menu-drawer" id="user-menu-drawer" hide ng-click="userMenu()">
                    <ul>
                        <a ng-href="/home">
                            <li class="selected"><span class="batch" data-icon="&#xF162;"></span>  Home</li>
                        </a>
                        <a ng-href="/profile/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF043;"></span>  Profile
                            </li>
                        </a>
                        <a ng-if="currentUser.curator === true" ng-href="/admin/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF04C;"></span>  Admin
                            </li>
                        </a>
                        <!--a ng-if="currentUser.invitations_sent<10" ng-href="/invite/{{currentUser._id}}">
                            <li>
                                <span class="batch" data-icon="&#xF0DB;"></span>  Invite friends
                            </li>
                        </a-->
                        <a ng-href="" ng-click="logout()">
                            <li>
                                <span class="batch" data-icon="&#xF069;"></span>  Logout
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</header>

<div class="container" ng-if="profile.god==true">
    <div style="width:1000px;margin-left:auto;margin-right:auto;padding:20px;">
        <div class="text-center" style="margin-top:90px;height:60px;background-color:#e5e5e5;width:100%;padding:3px;">
            <h2>List of Users</h2>
        </div>
        <div style="font-size:20px;">
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Tips</th>
                    <th>Selfies</th>
                    <th>Done</th>
                    <th>Books</th>
                    <th>Picture</th>
                </tr>
                <tr ng-repeat="user in users">
                    <th>{{$index + 1}}</th>
                    <th>{{user.name}}</th>
                    <th>{{user.gender}}</th>
                    <th>{{user.facebook.email}}</th>
                    <th>{{user.tipsCount}}</th>
                    <th>{{user.selfieCount}}</th>
                    <th>{{user.completions}}</th>
                    <th>{{user.subscriptions}}</th>
                    <th><a ng-href="{{user.facebook.profileLink}}"><img ng-src="https://graph.facebook.com/v2.2/{{user.facebookId}}/picture"></a></th>
                </tr>
            </table>
        </div>
    </div>
</div>