<div class="main-header top-header">
    <div class="wrapper">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
            <div class="head-brand" style="float: none;">
                <a href="/" style="font-family:Montserrat;color:white">Joyage</a>
            </div>
        </div>
    </div><!-- wrapper end -->
</div><!-- main header end -->

<div class="intro-head">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="intro-text-block">
            We are on mission to make your every weekend as awesome as you.
        </div>
    </div>
</div><!-- intro head end -->
<div class="joyage-block">
    <div class="wrapper">
        <h1>Joyage is a discovery platform. Be the part of awesomeness around you.</h1>
        <p>We built Joyage with passion and love for whom who enjoy their life on high. Now no need to sit and watch boring movies on weekend. You got us covered.</p>
        <p>Search best events around you. Follow best people and just enjoy. We take care of rest. With Joyage, Now your every weekend is as beautiful as your first date. :)</p>
    </div>
</div><!-- Joyage block end -->
<div class="team-block">
    <div class="wrapper">
        <h3>TEAM BEHIND JOYAGE</h3>
        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 padd-left-none">
            <div class="team-person-holder">
                <img src="https://media.licdn.com/media/p/1/000/0ba/1bd/1c373bf.jpg">
                <a href="">Raj Muppa</a>
                <p>Co-founder, Marketing Guy, Previously at Amazon, Foodie, Adventurist.</p>
            </div><!-- team person holder -->
        </div>

        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 padd-left-none">
            <div class="team-person-holder">
                <img src="https://media.licdn.com/media/p/2/000/2c4/144/0a10626.jpg">
                <a href="">Bhuvan Arora</a>
                <p>Co-founder, Product Guy, Startup Junkie.</p>
            </div><!-- team person holder -->
        </div>
    </div>
</div><!-- team block end -->