<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
            <div class="pull-right">
                <div class="user-menu js-user-menu">

                </div>
            </div>

        </div>
    </div>
</header>

<div class="team-block" style="margin-top:200px;">
    <div class="wrapper">
        <h3>TEAM BEHIND JOYAGE</h3>
        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 padd-left-none">
            <div class="team-person-holder">
                <img src="https://media.licdn.com/media/p/1/000/0ba/1bd/1c373bf.jpg">
                <a href="">Raj Muppa</a>
                <p>Co-founder, Marketing Guy, Previously at Amazon, Foodie, Adventurist.</p>
            </div><!-- team person holder -->
        </div>

        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 padd-left-none">
            <div class="team-person-holder">
                <img src="https://media.licdn.com/media/p/2/000/2c4/144/0a10626.jpg">
                <a href="">Bhuvan Arora</a>
                <p>Co-founder, Product Guy, Startup Junkie.</p>
            </div><!-- team person holder -->
        </div>
    </div>
</div><!-- team block end -->