<header style="background-color:rgba(71,162,190,1);border:none;" ng-controller="NavbarCtrl">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img ng-src="/img/logo-white.png" style="height:46px"/>
            </a>
        </div>

        <div id="fb-root"></div>

        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 padd-right-none" style="line-height:70px;margin-top:-10px;padding-bottom:10px;">
            <div class="pull-right">
                <div class="user-menu js-user-menu">

                </div>
            </div>

        </div>
    </div>
</header>

<div class="team-block" style="margin-top:60px;">
    <div class="wrapper">
        <h3>TEAM</h3>
        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/raj.jpg">
            Raj Muppa
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/bhuvan.jpg">
            Bhuvan Arora
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/aniket.jpg">
            Aniket Shinde
        </div>
    </div>

    <div class="wrapper">
        <h3>FRIENDS</h3>
        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/marcel.jpg">
            Marcel Hoover
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/ayesha.jpg">
            Ayesha Kazi
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 padd-left-none team-image">
            <img src="/img/bharath.jpg">
            Bharath Keshav
        </div>
    </div>
</div><!-- team block end -->