<header style="background-color:rgba(71,162,190,1);border:none;">
    <div class="wrapper" style="margin-bottom:-25px;">
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 padd-left-none">
            <a href="/" style="cursor:pointer">
                <img src="/img/logo-white.png" style="height:100px;margin-top:-20px;"/>
            </a>
        </div>
    </div>
</header>

<div class="joyage-block" style="background-color: transparent;">
    <div class="wrapper" style="width:800px;margin-top:5%;">
        <h1>Blog post</h1>
    </div>
</div><!-- Joyage block end -->